extends layout
block content
  h1= title
  - let winterid = toShow._id
  - let wTemp = toShow.wTemp
  - let wArea = toShow.wArea
  - let wMonth = toShow.wMonth
  div
    div.row
    div(class='winterAttr mr-3') Winter ID is:
  div #{winterid}
    div.row
    div(class='winterAttr mr-3') Winter Temp is:
  div #{wTemp}
    div.row
    div(class='winterAttr mr-3') Winter Area is:
  div #{wArea}
    div.row
    div(class='winterAttr mr-3') Winter Month is:
  div #{wMonth}